section {
  width: 1px;
  /* height: 1px; */
  background-color: darkgray;
}
h2{
  margin: auto;
  width: fit-content;
  display: none;
}
.parent {
  width: 80%;
  margin: auto;
  display: flex;
  /* display: none; */
}

.child {
  width: 33%;
  margin: 10px;
  display: none;
}
.child img {
  width: 100%;
  height: 400px;
}
